@font-face {
  font-family: allFont;
  src: url(./components/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: headFont;
  src: url(./components/fonts/benne/Benne-Regular.ttf);
}

body{
  margin:0;
  padding:0;
}

*{
  box-sizing: border-box;
  font-family: allFont;
}

.png{
  position: absolute;
  height: 100%;
  top:0;
  left:0;
}





